@page
@model ToDoListWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

	<div>
		<nav class="navbar" style="background-color: #0866C6">

			<a class="navbar-brand" style="color: white">Заметочки</a>
			<!-- <form class="form-inline">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
			</form> -->
		</nav>
	</div>
